body {
  margin: 0;
  padding: 0;
}
.nav {
  height: 80px;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.nav-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 500px;
}
.nav-link h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo img {
  height: 40px;
}
.head {
  height: 600px;
  background: url(https://www.scdn.co/i/free/bubbles-dktp.svg) center -138px / 100%
      1068px no-repeat,
    linear-gradient(-45deg, rgb(108, 14, 224) -5%, rgb(240, 55, 166));
  display: flex;
  align-items: center;
  justify-content: center;
}
.head-content {
  width: 1170px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.head-content-right {
  flex: 2;
  color: white;
  font-family: var(
    --font-family,
    CircularSp,
    CircularSp-Arab,
    CircularSp-Hebr,
    CircularSp-Cyrl,
    CircularSp-Grek,
    CircularSp-Deva,
    var(--fallback-fonts, sans-serif)
  );
  font-size: 30px;
  max-width: 653px;
}
.head-but {
  background-color: white;
  color: black;
  border-radius: 20px;
  height: 45px;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: bold;
}
.head-but:hover {
  height: 47px;
  width: 210px;
  font-size: 17px;
}
.head-content-left {
  display: flex;
  justify-content: flex-start;
  flex: 1.5;
  overflow: hidden;
}
.mob-frame {
  position: absolute;
  left: 365px;
  bottom: 268px;
  width: 280px;
}
.mob {
  position: absolute;
  left: 365px;
  padding-left: 7px;
  bottom: 269px;
  width: 265px;
  z-index: 1;
}
.why-spotify {
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.why {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 1170px;
}
.h1-why h1 {
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
  padding-bottom: 30px;
  margin-top: 0%;
  padding-top: 0%;
}
.why img {
  width: 150px;
}
.spotify-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
}
.spotify-cards h1 {
  margin-top: 40px;
  font-weight: bold;
  font-size: 20px;
}
.spotify-cards p {
  margin: 0%;
  padding: 0%;
  line-height: 25px;
  text-align: center;
  font-size: 16px;
  width: 240px;
}
.itsfree {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 500px;
  background: linear-gradient(
    0deg,
    rgba(98, 11, 230, 1) 0%,
    rgba(176, 35, 195, 1) 100%
  );
}
.itsfree p {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 48px;
  color: white;
  padding: 0%;
  margin: 0%;
}
.ready {
  height: 400px;
  background: url(https://www.scdn.co/i/free/lets-play.svg) left -10px bottom -160px /
      100% 1114px no-repeat,
    linear-gradient(-45deg, rgb(108, 14, 224) 16%, rgb(240, 55, 166))
      rgb(108, 14, 224);
  color: white;
  font-size: 68px;
  font-weight: bolder;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0%;
  padding: 0%;
}
.ready-btn {
  width: 200px;
  height: 50px;
  color: black;
  font-size: 16px;
  background-color: white;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ready-btn:hover {
  width: 210px;
  height: 52px;
  color: black;
  font-size: 17px;
}
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 550px;
  color: white;
  background-color: black;
}
.foot {
  width: 1170px;
}
.foot-up {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 30px;
}
.foot-up p:hover {
  color: rgb(47, 255, 47);
  cursor: pointer;
}
footer img {
  width: 150px;
}
.mdi--instagram {
  display: inline-block;
  height: 2em;
  width: 2em;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M7.8 2h8.4C19.4 2 22 4.6 22 7.8v8.4a5.8 5.8 0 0 1-5.8 5.8H7.8C4.6 22 2 19.4 2 16.2V7.8A5.8 5.8 0 0 1 7.8 2m-.2 2A3.6 3.6 0 0 0 4 7.6v8.8C4 18.39 5.61 20 7.6 20h8.8a3.6 3.6 0 0 0 3.6-3.6V7.6C20 5.61 18.39 4 16.4 4zm9.65 1.5a1.25 1.25 0 0 1 1.25 1.25A1.25 1.25 0 0 1 17.25 8A1.25 1.25 0 0 1 16 6.75a1.25 1.25 0 0 1 1.25-1.25M12 7a5 5 0 0 1 5 5a5 5 0 0 1-5 5a5 5 0 0 1-5-5a5 5 0 0 1 5-5m0 2a3 3 0 0 0-3 3a3 3 0 0 0 3 3a3 3 0 0 0 3-3a3 3 0 0 0-3-3'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}
.mdi--twitter {
  display: inline-block;
  width: 2em;
  height: 2em;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M22.46 6c-.77.35-1.6.58-2.46.69c.88-.53 1.56-1.37 1.88-2.38c-.83.5-1.75.85-2.72 1.05C18.37 4.5 17.26 4 16 4c-2.35 0-4.27 1.92-4.27 4.29c0 .34.04.67.11.98C8.28 9.09 5.11 7.38 3 4.79c-.37.63-.58 1.37-.58 2.15c0 1.49.75 2.81 1.91 3.56c-.71 0-1.37-.2-1.95-.5v.03c0 2.08 1.48 3.82 3.44 4.21a4.22 4.22 0 0 1-1.93.07a4.28 4.28 0 0 0 4 2.98a8.521 8.521 0 0 1-5.33 1.84c-.34 0-.68-.02-1.02-.06C3.44 20.29 5.7 21 8.12 21C16 21 20.33 14.46 20.33 8.79c0-.19 0-.37-.01-.56c.84-.6 1.56-1.36 2.14-2.23'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}
.ri--facebook-fill {
  display: inline-block;
  width: 2em;
  height: 2em;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M14 13.5h2.5l1-4H14v-2c0-1.03 0-2 2-2h1.5V2.14c-.326-.043-1.557-.14-2.857-.14C11.928 2 10 3.657 10 6.7v2.8H7v4h3V22h4z'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}
.ri--facebook-fill:hover {
  background-color: rgb(47, 255, 71);
}
.mdi--instagram:hover {
  background-color: rgb(47, 255, 71);
}
.mdi--twitter:hover {
  background-color: rgb(47, 255, 71);
}
.icons-card {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 240px;
}
.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #222326;
  width: 60px;
  height: 60px;
  border-radius: 30px;
}

.hgead {
  color: #898989;
}
.nav-link h1:hover {
  color: rgb(27, 174, 27);
}
.h1-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #c4c4c4;
  width: 160px;
}
.foot-down {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.foot-down p {
  cursor: pointer;
  color: #898989;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}
.down-l {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 580px;
}
.down-r {
  flex: 1;
  display: flex;
  align-items: center;
  width: 580px;
  justify-content: flex-end;
}
.foot-light-up img {
  padding-right: 7px;
  width: 12px;
  opacity: 0.5;
}
.foot-light-up {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: #898989;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  padding-top: 130px;
}

.container {
  padding: 60px;
  padding-left: 300px;
  padding-right: 300px;
}

.faq-drawer {
  margin-bottom: 30px;
}

.faq-drawer__content-wrapper {
  font-size: 1.25em;
  line-height: 1.4em;
  max-height: 0px;
  overflow: hidden;
  transition: 0.25s ease-in-out;
}

.faq-drawer__title {
  border-top: #00000014 0.5px solid;
  cursor: pointer;
  display: block;
  font-size: 1.25em;
  font-weight: 700;
  padding: 30px 0 0 0;
  position: relative;
  margin-bottom: 0;
  transition: all 0.25s ease-out;
}

.faq-drawer__title::after {
  border-style: solid;
  border-width: 1px 1px 0 0;
  content: " ";
  display: inline-block;
  float: right;
  height: 10px;
  left: 2px;
  position: relative;
  right: 20px;
  top: 2px;
  transform: rotate(135deg);
  transition: 0.35s ease-in-out;
  vertical-align: top;
  width: 10px;
}

.faq-drawer__title:hover {
  color: #4e4b52;
}

.faq-drawer__trigger:checked
  + .faq-drawer__title
  + .faq-drawer__content-wrapper {
  max-height: 350px;
}

.faq-drawer__trigger:checked + .faq-drawer__title::after {
  transform: rotate(-45deg);
  transition: 0.25s ease-in-out;
}

input[type="checkbox"] {
  display: none;
}
.container h1 {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
  padding-bottom: 40px;
}
.faq-drawer__title {
  font-family: Arial, Helvetica, sans-serif;
}
.faq-drawer__title:hover {
  text-decoration: underline;
  background-color: #dbdbdb13;
}
.faq-drawer__content {
  padding-left: 18px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
  font-weight: 500;
}
li span {
  color: rgb(24, 141, 24);
}
p span {
  color: rgb(24, 141, 24);
}
